<!-- 
<h1>Hello My App</h1>
<h2>{{title}}</h2>

<app-login></app-login>

<app-profile></app-profile>

<button (click)="handleClick()">click me</button>

<button (click)="sum(10,10)">Sum</button> -->

<h1>Counter App</h1>
<div style="text-align: center">
  <h2 class="count">{{ count }}</h2>
  <div>
    <button class="btn bg-red" (click)="handleDecrement()">Decrement</button>
    <button class="btn bg-black" (click)="handleReset()">Reset</button>
    <button class="btn bg-green" (click)="handleIncrement()">Increment</button>
  </div>
</div>
<hr />

<h1>Event in angular</h1>

<!-- <button (click)="handleEvent($event)" class="bt">Click Event</button>
<div class="btn bg-red" (mouseenter)="handleEvent($event)"></div>

<div class="btn bg-green" (mouseleave)="handleEvent($event)"></div> -->

<input
  type="text"
  (input)="handleEvent($event)"
  (blur)="handleEvent($event)"
  (focus)="handleEvent($event)"
  name="user"
/>
<hr />
<br />

<h1>Get and set name</h1>
<h2>User name is {{ displayName }}</h2>
<input type="text" (input)="getName($event)" />
<button (click)="showName($event)">Get Value</button>
<!-- <button>Set Value</button> -->
<hr />

<h2>User email is {{ email }}</h2>
<input type="text" value="{{ email }}" placeholder="Enter email" #emailField />
<button (click)="getEmail(emailField.value)">Get Email</button>
<button (click)="setEmail()">Set Email</button>

<!-- <app-profile></app-profile> -->
<hr />
<br />

<h1>If Else | Control Flow</h1>
<button (click)="toggleDiv()">Toggle Div</button>
@if(display){
<div style="width: 200px; height: 200px; background-color: green"></div>
}

<br /><br /><br />

<h1>switch case</h1>
@switch(color){ @case('red'){
<h1 style="background-color: red">Red color</h1>
} @case('green'){
<h1 style="background-color: greenyellow">Green color</h1>
} @case('yellow'){
<h1 style="background-color: yellow">yellow color</h1>
} @case('purple'){
<h1 style="background-color: purple">purple color</h1>
} @default{
<h1 style="background-color: white">no color match</h1>
} }

<button (click)="handleColor('red')">Red</button>
<button (click)="handleColor('green')">Green</button>
<button (click)="handleColor('yellow')">yellow</button>
<button (click)="handleColor('purple')">purple</button>
<button (click)="handleColor('default')">default</button>
<input
  type="text"
  name=""
  (input)="handleColor(inputColor.value)"
  #inputColor
/>

<hr />
<br />
<h2>For loop</h2>

@for(user of users;track user){
<h3>{{ user }}</h3>
} @for(student of students;track student.name;let id = $index){
<div>
  <span>{{ id + 1 }}</span> &nbsp; <span>{{ student.name }}</span> &nbsp;
  <span>{{ student.age }}</span> &nbsp; <span>{{ student.email }}</span> &nbsp;
  <button (click)="getNam(student.name)">Get Name</button>
</div>
}

<h2>Basics of Signals</h2>

<button (click)="counter.set(counter() + 1)">Increment</button>
<h1>{{ counter() }}</h1>
<button (click)="counter.set(counter() - 1)">Decrement</button>

<h1>Types of Signals</h1>
<h2>{{ data() }}</h2>

<button (click)="updateSignal()">Update</button>

<h2>Computed Signals</h2>
<button (click)="showValue()">Show Value</button>

<h1>For loop contextual Variables</h1>
@for (fruit of fruits; track fruit; let i = $index; let isFirst = $first; let
isLast = $last) {
<h3 [style.background-color]="isFirst || isLast ? 'red' : 'skyblue'">
  This is our {{ i + 1 }} fruit {{ fruit }}
</h3>
} @empty {
<p>No fruits available</p>
}

<br />
<hr />
<br />

<h1>Two way binding</h1>
<input [(ngModel)]="username" type="text" placeholder="enter name" />

<h1>{{ username }}</h1>

<app-todo-list></app-todo-list>
<br /><br />
<hr />

<h1 [style.backgroundColor]="bgColor" [style.fontSize.pt]="'80'">
  Dynamic Styling
</h1>

<h2 [style.fontSize]="zoom ? headingSizeBig : headingSizeSmall">Heading</h2>

<button (click)="toggleFontSize()">Toggle Size</button>

<h3 [style.fontSize.px]="h3fontSize">Toggle heading size</h3>

<!-- directive example -->

<h1 *ngIf="show">Heading tag</h1>

<ol>
  <li *ngFor="let user of users">{{ user }}</li>
</ol>

<h1>*ngIf example</h1>

<div *ngIf="login; else elseBlock">
  <a href="/">login</a>
</div>

<ng-template #elseBlock>
  <a href="/">logout</a>
</ng-template>

<h1>*ngSwitch directive</h1>
<button (click)="changeColor('red')">Red</button>
<button (click)="changeColor('green')">green</button>
<button (click)="changeColor('blue')">blue</button>
<button (click)="changeColor('light green')">light green</button>
<button (click)="changeColor('yellow')">yellow</button>
<button (click)="changeColor('purple')">purple</button>

<div [ngSwitch]="clr" >
  <h1 *ngSwitchCase="'red'" style="background-color: red;">red color</h1>
  <h1 *ngSwitchCase="'green'" style="background-color: green;">green color</h1>
  <h1 *ngSwitchCase="'blue'" style="background-color: blue;">blue color</h1>
  <h1 *ngSwitchCase="'light green'" style="background-color: rgb(0, 255, 76);">light green color</h1>
  <h1 *ngSwitchCase="'yellow'" style="background-color: yellow;">yellow color</h1>
  <h1 *ngSwitchCase="'purple'" style="background-color: rgb(162, 0, 255);">purple color</h1>
  <h1 *ngSwitchDefault >No color match</h1>
</div>


<!-- <app-routes></app-routes> -->
 <app-form></app-form>



 <h1>data pass parent to child</h1>
 <app-user [user]="selectedUser.value" [city]="city"></app-user>

 <select #selectedUser (change)="onUserChange(selectedUser.value)" name="" id="">
   <option value="Sam">Sam</option>
   <option value="Mohit">Mohit</option>
  <option value="Peter">Peter</option>
  <option value="Tony">Tony</option>
 </select>
 

 <h1>Data pass child to parent</h1>

 <app-user (getUsers)="handleUsers($event)" ></app-user>

 @for(record of records; track record){
  <h2>
    {{record}}
  </h2>
 }

 <!-- Pipes in angular -->

 <app-pipe></app-pipe>

 <button (click)="increment()" >Count:{{Count}}</button>
 <div *ngIf="Count!=5" >
   <app-life-cycle [counter]="Count" #lifeCycle ></app-life-cycle>
 </div>

 <h1>Services in angular</h1>
 <app-service></app-service>


 <h1>Router Lazy Loading</h1>
 <a routerLink="/admin">Go to Admin Page</a>
 <router-outlet></router-outlet>